<!DOCTYPE html>
<html>

<head>
    {% extends "E_layout.html" %}
    {% block head %}
    <title>CLG - Feuille Cantine</title>
    {% endblock %}
</head>


<body>
    {% block content %}
    <form method="POST">
        <div class="container mt-3">
            <h1>Eleves mangeant à la cantine le {{ nowJolie }} dans la classe de {{ classeActuelle[1] }}</h1>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="classe">Classe</label>
                <div class="col-sm-10">
                    <select name="classe" class="form-control" id="classe">
                        {% for classe in classes %}
                        {% if classeActuelle[0] == classe[0] %}
                        <option value="{{ classe[0] }}" selected>{{ classe [1] }}</option>
                        {% else %}
                        <option value="{{ classe[0] }}">{{ classe [1] }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="calendar">Date</label>
                <div class="col-sm-10">
                    <input class="form-control" type="date" id="calendar" name="calendar" value="{{ now }}"
                        min="2010-01-01" max="2100-12-31" />
                </div>
            </div>
            <button class="btn btn-warning">Valider</button>
            <a href="/supprAll/{{ classeActuelle[0] }}/{{ now }}" class="btn btn-warning"
                onclick="if (confirm('Voulez-vous vraiment supprimer tous les repas de la classe?')) commentDelete(1); return false">
                Tout annuler</a>
        </div>

        <div class="container">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Allergies</th>
                        <th scope="col">N° représentant</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for enfant in enfants %}
                    <tr>
                        <td>{{enfant[0]}}</td>
                        <td>{{enfant[1]}}</td>
                        <td>
                            {% for allergies in allergiesEnfants%}
                            {% for allergie in allergies %}
                            {% if allergie[1] == enfant[2]%}
                            {{ allergie[0] }}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </td>
                        <td>{{enfant[3]}}</td>
                        <td><a href="/supprRepas/{{ enfant[4] }}" class="btn btn-warning"
                                onclick="if (confirm('Voulez-vous vraiment supprimer ce repas ?')) commentDelete(1); return false">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </form>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
    {% endblock %}
</body>

</html>