<!DOCTYPE html>
<html>

<head>
    {% extends "R_layout.html" %}
    {% block head %}
    <title>CLG - Repas {{ month }}</title>
    {% endblock %}
</head>

<body>

    {% block content %}
    <div class="container mt-3 mb-3">
        <h1>Futurs repas des enfants</h1>
        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="repas">Mois des repas</label>
                <div class="col-sm-10">
                    <select name="repas" class="form-control" id="repas">
                        {% for month in months %}
                            {% if month == mois %}
                                {% if months|length < 7 %} 
                                    <option value="{{ month }}" selected>{{ month }} {{ year }}</option>
                                {% else %}
                                    <option value="{{ month }}" selected>{{ month }} {{ year1 }}</option>
                                {% endif %}
                            {% else %}
                                {% if months|length < 7 %} 
                                    <option value="{{ month }}">{{ month }} {{ year }}</option>
                                {% else %}
                                    <option value="{{ month }}">{{ month }} {{ year1 }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-warning mb-3">Valider</button>
            <a class="btn btn-warning mb-3" href="/ajoutRepas">Ajouter un repas</a>
        </form>
        <p>/!\ Les repas peuvent être annulés au plus tard 48h avant celui-ci /!\</p>
        <p>Annulation possible à partir du {{ date_limite }}</p>
        {% for enfant in enfants %}
        <h2>{{ enfant[2] }} {{ enfant[1] }}</h2>
        <table class="table table-stripped">
            <thead>
                <th scope="col">Date</th>
                <th cope="col">Action</th>
            </thead>
            <tbody>
                {% set i = namespace (index = 0) %}
                {% for repas in repasEnfants %}
                {% for repa in repas %}
                {% if repa[0] %}
                {% if repa[2] == enfant[0] %}
                <tr>
                    <!-- dateInter[i.index] -->
                    <td scope="row">{{ dateInter[i.index] }}</td>
                    {% if repa[1] >= date_annulation %}
                    <td><a class="btn btn-warning" href="/annuleRepas/{{ repa[0] }}"
                            onclick="if (confirm('Voulez-vous vraiment annuler le repas ?')) commentDelete(1); return false">Annuler</a>
                    </td>
                    {% endif %}
                </tr>
                
                {% endif %}
                {% set i.index = i.index + 1 %}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tbody>

        </table>
        {% endfor %}
        
    </div>
    {% endblock %}
</body>

</html>